.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:2.5rem;
    padding: 2.4rem 5rem;
   
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding:1.2rem;
    border-radius: 2rem;
    border:1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
  height: 180px; /* set a fixed height for the image container */
  width: 100%; /* set a fixed width for the image container */
  border-radius: 1.5rem;
  overflow: hidden;
  object-fit: cover; /* use object-fit to control how the image fits inside the container */
}

.portfolio__item h3 {
    margin:1.2rem 0 2rem;

}

.portfolio__item-cta {
    display: flex;
    gap:1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
.portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap:1.2rem;
}

}

@media screen and (max-width: 600px) {
.portfolio__container {
    grid-template-columns: 1fr;
    gap:1rem;
}

}