.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:2.5rem;
    padding: 2.4rem 5rem;
   
}

.portfolio__item {
   backdrop-filter: blur(10px);
    padding:1.2rem;
    border-radius: 2rem;
    border:1px solid #27AE60;
    transition: var(--transition);
}


.portfolio__item-image {
  height: 180px; 
  width: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
  object-fit: cover; 
}

.portfolio__item h3 {
    margin:1.2rem 0 2rem;

}


.portfolio__item p {
   margin-bottom: 2rem;

}

.portfolio__item-cta {
    display: flex;
    gap:1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
.portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap:1.2rem;
}

}

@media screen and (max-width: 600px) {
.portfolio__container {
    grid-template-columns: 1fr;
    gap:1rem;
}

}

